* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

#myCanvas {
  cursor: crosshair;
  position: fixed;
  width: 100%;
  height: 80%;
}

.canvas-wrapper {
  width: 100%;
  height: 90%;
}

.indicatorDot {
  width: 240px;
  height: 240px;
  top: calc(40% + 5px);
  transition: background-color 0.2s ease-in-out;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.scale-content {
  display: none;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.scale-circle {
  position: absolute;
  top: 40%;
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 50%;
}
