.balloon-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balloon-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#balloon {
  margin-top: 50px;
  width: 40vw;
  height: 40vw;
  background-color: chartreuse;
  border-radius: 50%;
}
